@{
    ViewData["Title"] = "Login";
}
<div class="sidenav">
    <div class="login-main-text">
        <h2>Application<br> Login System</h2>
        <p>Login or register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form>
                <div class="form-group mb-3">
                    <label>E-mail</label>
                    <input type="email" class="form-control" placeholder="E-mail">
                </div>
                <div class="form-group mb-3">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-black" asp-area="" asp-controller="Dashboard" asp-action="Index">Login</button>
                <button type="submit" class="btn btn-secondary" asp-area="" asp-controller="Dashboard" asp-action="Register">Register</button>
                <a class="recovery" asp-area="" asp-controller="Dashboard" asp-action="Recovery"> Forgot your password</a>
            </form>
        </div>
    </div>
</div>
