@model LoginModel
@{
    ViewData["Title"] = "Home";
}

<div class="sidenav-home">
    <div class="home-main-text">
        <p class="mt-5">Hi @Model.Name, Welcome!!</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">

    </div>
</div>