@model UserModel

@{
    ViewData["Title"] = "Recovery Password";
}

<div class="sidenav">
    <div class="login-main-text">
        <h2>Recovery Password</h2>
        <p>Fill in the field to recovery password</p>
    </div>
</div>
<div class="main">
    <div class="col-md-12 col-sm-12">
        <div class="form-group">
            @Html.Raw(@ViewBag.Alert)
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="login-form-register">
            <form asp-action="Recovery" asp-controller="Dashboard">
                <div class="form-group mb-3">
                    <label asp-for="Email">E-mail</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="E-mail">
                </div>
                <button type="submit" class="btn btn-black">Send</button>
            </form>
        </div>
    </div>
</div>