@{
    ViewData["Title"] = "Register User";
}

<div class="sidenav">
    <div class="login-main-text">
        <h2>Register User</h2>
        <p>Fill in the fields to create a new user</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form-register">
            <form>
                <div class="form-group mb-3">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group mb-3">
                    <label>E-mail</label>
                    <input type="email" class="form-control" placeholder="E-mail">
                </div>
                <div class="form-group mb-3">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group mb-3">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Confirm Password">
                </div>
                <button type="submit" class="btn btn-black">Send</button>
                <button type="reset" class="btn btn-secondary">Clean</button>
            </form>
        </div>
    </div>
</div>